
li {
    width: 10%;
    list-style: none;
    display: inline;
    text-decoration: none;
    float: right;
    padding: 0 0 0 5px;
    text-decoration-color: black;
}

a {
    text-decoration: none;
}


.title {
    float: left;
    display: inline;
}

.navbar {
    position: absolute;
    margin: 5px 0 0 0;
    padding: 0 0 25px 0;
}

/*
.container {
    width: 100%;
    min-height: 10%;
    margin-bottom: 1em;
}
 */

body {
    background-color: #aaa;
    color: #222;
}

/*
.title {
    width:90%;
    margin: auto;
    text-align: center;
    background-color: black;
    color: white;
}
*/

/*
.title h1 {
    padding: 15px 0 0 0;
    text-align: left;
}
 */

.container {
    width:85%;
    margin:auto;
}