
li {
    width: 10%;
    list-style: none;
    display: inline;
    text-decoration: none;
    float: right;
    padding: 0 0 0 5px;
    text-decoration-color: black;
}

a {
    text-decoration: none;
}


.title {
    float: left;
    display: inline;
}

.navbar {
    position: absolute;
    margin: 5px 0 0 0;
    padding: 0 0 25px 0;
}

.container {
    width: 100%;
    min-height: 10%;
    margin-bottom: 1em;
}
