<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <nav>
        <h1>Prometheus</h1>
        <ul>
            <li><a href="index"> Calculator</a></li>
            <li><a href="index">Home</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="signUp">Sign Up</a></li>
        </ul>
    </nav>

    <div>
        <input type="text" name="expression_input" id="expression_input"/>
        <button onclick="solve()">Submit</button>
    </div>

    <div>
        <p id="answer_output"></p>
    </div>

    <script src="js/main.js"></script>
</body>
</html>