<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <nav class="container">
        <ul>
            <li><a href="signUp">Sign Up</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="code">Code</a></li>
            <li><a href="calculator">Calculator</a></li>
            <li><a href="index">Home</a></li>
            <h3>Project Prometheus</h3>
        </ul>
    </nav>

    <div class="page container">
        <p>Welcome to project Prometheus.</p>
    </div>


</body>
</html>