<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div class="navbar container">
            <h1 class="title">Prometheus</h1>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="calculator">Calculator</a></li>
                <li><a href="code">Code</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="signUp">Sign Up</a></li>
            </ul>
    </div>

    <div>
        <h1>Project Prometheus</h1>
        <p>Welcome to project Prometheus.</p>
    </div>


</body>
</html>