<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <nav class="container">
        <ul>
            <li><a href="signUp"
                   th:href="@{${session.loggedInUser != null} ? 'logout' : 'signUp'}"
                   th:text="${session.loggedInUser != null ? 'Logout' : 'Sign Up'}">Sign Up</a></li>
            <li><a href="login"
                   th:href="@{${session.loggedInUser != null} ? 'viewProfile' : 'login'}"
                   th:text="${session.loggedInUser != null ? 'Profile' : 'Login'}">Login</a></li>
            <li th:if="${session.loggedInUser != null}"><a href="viewCalculations">Calculations</a></li>
            <li><a href="code">Code</a></li>
            <li><a href="calculator">Calculator</a></li>
            <li><a href="index"
                   th:href="@{${session.loggedInUser != null} ? 'userHome' : 'index'}">Home</a></li>
            <h3>Project Prometheus</h3>
        </ul>
    </nav>

    <div class="container page">
        <h1> Profile Page </h1>
        <div id="profileViewport">
            <table class="styled-table">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>First Name</td>
                        <td><text th:text = "${user.firstName}"></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><text th:text = "${user.lastName}"></text></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><text th:text = "${user.email}"></td>
                    </tr>
                        <td>Username</td>
                        <td><text th:text = "${user.userName}"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><text th:text = "${user.passWord}"></text></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1>Profile Editing is being delayed. :(</h1>
</body>
</html>