<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <nav class="container">
        <ul>
            <li><a href="signUp"
                   th:href="@{${session.loggedInUser != null} ? 'logout' : 'signUp'}"
                   th:text="${session.loggedInUser != null ? 'Logout' : 'Sign Up'}">Sign Up</a></li>
            <li><a href="login"
                   th:href="@{${session.loggedInUser != null} ? 'viewProfile' : 'login'}"
                   th:text="${session.loggedInUser != null ? 'Profile' : 'Login'}">Login</a></li>
            <li><a href="code">Code</a></li>
            <li><a href="calculator">Calculator</a></li>
            <li><a href="index">Home</a></li>
            <h3>Project Prometheus</h3>
        </ul>
    </nav>

</body>
</html>